* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(185, 41%, 84%);
  font-family: "Space Mono", monospace;
  padding: 20px;
  font-size: 24px;
  color: hsl(186, 14%, 43%);
}
input {
  font-family: "Space Mono", monospace;
  font-size: 20px;
  text-align: right;
  padding: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.logo-container {
  margin: 20px;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.calculator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  float: left;
  width: 50%;
}
.tip-value,
.tip-btn {
  text-align: center;
  font-size: 24px;
  width: 150px;
  height: 40px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-family: "Space Mono", monospace;
  color: white;
  background-color: hsl(183, 100%, 15%);
}
.tip-btn.active {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}
.tip-custom {
  color: hsl(183, 100%, 15%);
  font-weight: 700;
}
.tip-select-container button:hover {
  cursor: pointer;
}
.tip-select-container input {
  background-color: rgb(248, 248, 248);
}
.person-icon,
.dolar-icon {
  position: absolute;
}
.bill-price,
.number-of-people {
  height: 50px;
  width: 90%;
  border: none;
  border-radius: 5px;
  background-color: rgb(248, 248, 248);
}

.right {
  display: flex;
  flex-direction: column;
  float: right;
  color: white;
  padding: 30px;
  background-color: hsl(183, 100%, 15%);
  height: 300px;
  width: 50%;
  border-radius: 10px;
  font-size: 10px;
}
.tip-amount-container,
.total-container {
  display: flex;
  align-items: center;
}
.value {
  font-size: 30px;
  font-weight: 700;
  color: hsl(172, 67%, 45%);
  float: right;
}
.tip-amount-text,
.total-price-text {
  margin: 20px;
}
.total-price-text span,
.tip-amount-text span {
  color: rgba(180, 178, 178, 0.568);
}
.reset-btn {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  font-size: 15px;
  font-weight: 700;
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 5px;
}
.reset-btn:hover {
  cursor: pointer;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
